*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto, sans-serif;
}

body {
    background-color: #f0eef3;
    justify-content: center;
}

form h1 {
    background-color: #f0eef3;
    padding-top: 180px;
    justify-content:center;
    text-transform:none;
    font-style: normal;
    text-align:center;
}

form {
    justify-content:center;
    text-transform:center;
    font-style:normal;
    text-align:center;
}

input, button {
    justify-content: center;
    margin-left: 2px;
    margin-top: 20px;
    padding:  10px ;
    text-align: center;
    text-transform: center;
    
}

button{
    cursor: pointer;
}

ul li {
    text-decoration: line-through;
    flex-wrap: wrap;
    text-align: center;
}