@use 'variaveis';

header {
    padding: 16px 0;
    background-color: variaveis.$corSecundaria;
    text-align: center;
    color: black;
}

body {
    background-color: variaveis.$corPrincipal;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin-top: 16 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


